{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="{% static '../static/home/style.css' %}"/s>
    <title>Jaydork</title>
  </head>
  <body>
    <h1>Jaydork</h1>

    <button id='signup' class='button'>Sign In</button>
    
    <div class='navbar'> <!-- Navigation bar to route to each page -->
      <button id='home' class='buttons'>Home</button>
      <button id='videos' class='buttons'>Videos</button>
      <button id='games' class='buttons'>Games</button>
      <button id='bio' class='buttons'>Bio</button>
      <button id='twitch' class='buttons'>Twitch</button>
    </div>
    <p> HELLO WORLD! </p>
    <!-- Place holder video until I record an intro -->
    <iframe id='intro' height='600' width='720' src='http://youtube.com/embed/2fG2Qo8-YYg' allowfullscreen></iframe>

 
  </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>   
<script src="{% static '../static/home/java_script.js' %}"> </script>
</html> 